.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .album-card {

        width: 300px;
        height: 300px;

        .album-cover {
            img {

                width: 270px;
                height: 270px;
            }
        }
        h2 {
            margin: 10px;
            margin-bottom: 5px;
            font-family: Mabry;
            font-size: 1rem;
        }
    }
}
.form-control-feedback {
    top: 78%;
    left: 8%;
    position:absolute;
}
