<h1 style="font-family: 'Bahnschrift SemiBold'">Podcasts les plus écoutés</h1>
<br><br><br>
<div class="row">
    <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngFor="let podcast of podcastChart let i=index">
        <div *ngIf="i<8">
            <div class="album-cover">
                <a [routerLink]="['/podcast-details', podcast.id]" [state]=podcast (click)="click(podcast)">
                    <img src="{{podcast.picture_big}}" class="w-100 image">
                </a>
                <div class="d-flex w-100 justify-content-between">
                    <h2>{{podcast.title}}</h2>
                    <fa-icon [icon]="faPlayCircle" size="3x" class="background-circle"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>



