<div *ngIf="playlist">
    <div class="d-flex flex-column align-items-center flex-md-row align-items-md-start album-header">
        <div class="img">
            <img [src]="playlist?.picture_big" alt="album cover">
        </div>

        <div class="d-flex flex-column align-items-center align-items-md-start">
            <span class="titre">{{playlist?.title}}</span>

            <span class="details">
            {{playlist?.nb_tracks}} titres - {{playlist?.duration | hourMinSec}}
        </span>

            <div class="d-flex mt-4">
                <button (click)="play(0)" aria-pressed="true" class="btn btn-primary btn-play btn-lg active"
                        role="button">
                    <fa-icon [icon]="faPlayCircle" size="1x"></fa-icon>
                    Écouter
                </button>
            </div>
        </div>
    </div>

    <div class="tracks">
        <table class="table">
            <thead>
            <tr>
                <th class="min-width">#</th>
                <th class="min-width"></th>
                <th>Title</th>
                <th class="fixed-width">D.</th>
                <th class="end">
                    <div class="d-flex justify-content-end">
                        <div *ngIf="isOneChecked()" class="dropdown w-1rem">
                            <button
                                aria-expanded="false" data-bs-toggle="dropdown" id="dropdownMenuButton1">
                                <fa-icon [icon]="faEllipsisH"></fa-icon>
                            </button>
                            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a data-bs-target="#addToPlaylistModal" data-bs-toggle="modal">Ajouter à une
                                        playlist</a>
                                </li>
                                <li><a (click)="addToFavorites()" class="dropdown-item">Ajouter des favoris</a></li>
                            </ul>
                        </div>
                        <div class="d-flex align-items-center w-1rem">
                            <input (click)="checkAll()" [checked]="isOneChecked()" class="form-check-input"
                                   id="all" type="checkbox">
                        </div>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr (click)="play(i)" *ngFor="let track of playlist?.tracks?.data; index as i"
                [ngClass]="{'active': track.id == getCurrentTrackId()}">
                <th scope="row">
                    <div class="nb-track">{{ i + 1 }} </div>
                    <fa-icon [icon]="faPlayCircle" class="play"></fa-icon>
                </th>
                <td class="td-fav">
                    <button (click)="favorite(track); $event.stopPropagation();" *ngIf="!isTrackFavorite(track)">
                        <fa-icon [icon]="farHeart"></fa-icon>
                    </button>
                    <button (click)="unfavorite(track); $event.stopPropagation();" *ngIf="isTrackFavorite(track)">
                        <fa-icon [icon]="fasHeart" class="favorite"></fa-icon>
                    </button>
                </td>
                <td>
                    <div class="title-container">
                        <img [src]="track.album.cover" alt="" class="cover">
                        <div class="title">{{ track.title }}</div>
                        <div (click)="$event.stopPropagation()" class="feat-container">
                            <span>
                                <a [routerLink]="['/artist-details', track.artist.id]"
                                   [state]=track.artist>
                                    {{track.artist.name}}
                                </a>
                            </span>
                        </div>
                        <div (click)="$event.stopPropagation();" class="track-menu-container dropdown">
                            <button
                                aria-expanded="false" data-bs-toggle="dropdown" id="dropdownTrackMenu">
                                <fa-icon [icon]="faEllipsisH" class="play"></fa-icon>
                            </button>

                            <ul aria-labelledby="dropdownTrackMenu"
                                class="dropdown-menu dropdown-menu-dark">
                                <li class="dropdown-item btn-group dropend">
                                    <a (click)="setTrack(track)" class="dropdown-item" data-bs-target="#addToPlaylistModal"
                                       data-bs-toggle="modal">Ajouter à une playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td>{{ track.duration | chrono }}</td>
                <td class="end">
                    <input (click)="check(track); $event.stopPropagation();" [checked]="isChecked(track)" class="form-check-input" id="individual"
                           type="checkbox">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <app-add-to-playlist-form [tracksToAdd]="trackToAdd"></app-add-to-playlist-form>
</div>
