<nav [ngClass]="{'sticky':this.isStickyNavbar}" class="navbar navbar-expand-lg navbar-light">
    <div class="me-auto">
        <div (click)="toggleSidebar()" class="btn rounded-circle" id="sidebarCollapse">
            <fa-icon [icon]="faTimes" [ngClass]="{'menuClosed': this.isSidebarDisplay,'menuOpen': !this.isSidebarDisplay}"
                     id="croix"></fa-icon>
            <fa-icon [icon]="faBars" [ngClass]="{'menuClosed': !this.isSidebarDisplay,'menuOpen': this.isSidebarDisplay}"
                     id="traits"></fa-icon>
        </div>

        <div (click)="back()" class="btn rounded-circle nav-button">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </div>

        <div (click)="forward()" class="btn rounded-circle nav-button">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </div>
    </div>

    <app-search navbarLocation="navbar"></app-search>

    <div *ngIf="!isConnected()" [ngClass]="{'active': isSidebarDisplay}"
         [routerLinkActive]="['active']" [routerLink]="['/auth']" class="btn rounded-pill nav-button ms-auto px-3">
        SE CONNECTER
    </div>

    <img *ngIf="isConnected()" [ngClass]="{'active': isSidebarDisplay}"
         [src]="this.getLoggedInUser()?.picture"
         alt="user image" aria-expanded="false"
         class="dropdown-toggle rounded-circle ms-auto" data-bs-toggle="dropdown" id="dropdownUserMenu">

    <ul *ngIf="isConnected()" aria-labelledby="dropdownUserMenu"
        class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
        <li><a [routerLinkActive]="['active']" [routerLink]="['/profil']" class="dropdown-item">Profil</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/option']" class="dropdown-item">Paramètres</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/logout']" class="dropdown-item">Déconnexion</a></li>
    </ul>
</nav>
