<div>
<h2>Pour vous</h2>
<br><br>
    <div class="album-container">
        <div *ngFor="let albumchart of albums?.data let i=index">
            <div *ngIf="i<5">
                <mat-card class="album-card">
                    <div class="album-cover">
                        <div class="image">
                            <img src="{{albumchart.cover_big}}">
                        </div>
                    </div>
                    <div>
                    <mat-card-title>
                        <h2>{{albumchart.title}}</h2>
                    </mat-card-title>

                    <mat-card-subtitle>
                        <h3>{{albumchart.artist.name}}</h3>
                    </mat-card-subtitle>
                    <fa-icon [icon]="faPlayCircle"  size="3x" class="form-control-feedback" style="color:white"></fa-icon>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div>
<h2>Votre Chart</h2>
<br><br>
<div class="album-container">
    <div *ngFor="let albumchart of chart?.data let i=index">
        <div *ngIf="i<5">
            <mat-card class="album-card">
                <div class="album-cover">
                    <div class="image">
                        <img src="{{albumchart.album.cover_big}}">
                    </div>
                </div>
                <div>
                    <mat-card-title>
                        <h2>{{albumchart.title}}</h2>
                    </mat-card-title>

                    <mat-card-subtitle>
                        <h3>{{albumchart.artist.name}}</h3>
                    </mat-card-subtitle>
                    <fa-icon [icon]="faPlayCircle"  size="3x" class="form-control-feedback" style="color:white"></fa-icon>
                </div>
            </mat-card>
        </div>
    </div>
</div>
</div>
<div>
<br><br><br><br><br><br><br>
<h2>Vos artistes préférés</h2>
<br><br>
<div class="album-container">
    <div *ngFor="let albumchart of artists?.data let i=index">
        <div *ngIf="i<5">

            <div class="album-cover2">
                <div class="image-circle">
                    <img src="{{albumchart.picture_big}}">
                </div>
            </div>
            <div>
                <mat-card-title style="text-align:center">
                    <h2>{{albumchart.name}}</h2>
                </mat-card-title>


            </div>

    </div>
</div>
</div>
</div>
<br><br><br><br><br><br>
<div>
<h2>Genres</h2>
<br><br>
<app-genres></app-genres>
</div>
