
h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Bahnschrift SemiBold";
    font-size: 1.5rem;
}

h3 {
    font-family: "Bahnschrift SemiBold";
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.background-circle{
    color:var(--secondary-color);
    margin-top:25px;
}
