<h1 style="font-family: 'Bahnschrift SemiBold'">Albums les plus écoutés</h1>
<div class="row">
    <div *ngFor="let album of albumsChart | slice:0:8; let i=index" class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="album-cover">
            <a [routerLink]="['/album-details', album.id]" [state]=album>
                <img (click)="click(album)" class="w-100 image rounded" src="{{album.cover_big}}">
            </a>
            <div class="d-flex w-100 justify-content-between album-footer">
                <div>
                    <h2>{{album.title}}</h2>
                    <h3>{{album.artist.name}}</h3>
                </div>
                <fa-icon (click)="play(album)" [icon]="faPlayCircle" [mask]="faSquareFull" class="background-circle"
                         size="3x"></fa-icon>
            </div>
        </div>
    </div>
</div>

<h1 style="font-family: 'Bahnschrift SemiBold'">Top Artistes</h1>
<div class="row">
    <div *ngFor="let artist of artistChart | slice:0:8; let i=index" class="col-12 col-lg-3 col-md-4 col-sm-6">
        <div class="album-cover2">
            <a [routerLink]="['/artist-details', artist.id]" [state]=artist>
                <img (click)="click(artist)" class="w-100 image" src="{{artist.picture_big}}"
                     style="border-radius: 50%">
            </a>
            <h2 class="artist-name">{{artist.name}}</h2>
        </div>
    </div>
</div>
