
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}


.sticky {
    position: sticky;
    top: 0;
    padding-top: 10px!important;
    transition: padding-top 0ms!important;
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, var(--background-color) 100%);
}

.navbar {
    //padding: 15px 10px;
    transition: padding-top 400ms;
    padding-top: 40px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar img, div.btn {
    height: 40px;
    width: 40px;
}

nav .btn {
    margin-right: 1rem;
}

div.btn  {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--font-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.dropdown-menu a:focus {
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.dropdown-item {
    color: var(--font-color);
}

.dropdown-item:hover {
    color: var(--font-color);
}

.has-search.navbar-search {
    width: 35vw;
}

.has-search.sidebar-search {
    display: none;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--font-color);
    &::placeholder {
        color: var(--secondary-color);
        opacity: 1;
    }
    &:focus {
        border-color: var(--primary-color);
        box-shadow: none;
        outline: 0 none;
    }
    //&:focus {
    //    border-color: rgba(239, 185, 104, 0.8);
    //    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 181, 104, 0.6);
    //    outline: 0 none;
    //}
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: inline;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: var(--secondary-color);
}

/* ---------------------------------------------------
    SCROLLBAR STYLE
----------------------------------------------------- */

::-webkit-scrollbar {
    width: 10px;
    padding: 10px 10px 10px 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* ---------------------------------------------------
    PLAYER STYLE
----------------------------------------------------- */

.player {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100vw;
    height: var(--player-height);
    backdrop-filter: blur(14px);
    padding: 10px;
    text-align: center;
    &.player-light {
        box-shadow: 0 0 10px rgba(217, 217, 217, 0.4);
        background-color: rgba(255, 255, 255, 0.6);
    }
    &.player-dark {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.6);
    }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    color: var(--font-color);
    background-color: var(--background-color);
}

#sidebar {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll;
    padding: 0 10px var(--player-height);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--primary-color);
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-radius: 10px;
    color: var(--secondary-color);
    &:hover {
        color: var(--font-color);
    }
}

#sidebar ul li.active>a {
    color: var(--font-color);
    background: var(--primary-color);
}

#sidebarCollapse .menuClosed {
    display: none;
}

#sidebarCollapse .menuOpen {
    display: block;
}

#sidebar fa-icon {
    margin-right: 10px;
}

a[data-bs-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="true"]::after {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

a[aria-expanded="false"]::after {
     transform: rotate(0deg);
     transition: all 0.3s ease;
 }

.btn-nav-accordion.collapsed .fa-chevron-up {
    transform: rotate(180deg);
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - var(--sidebar-width));
    padding: 0 40px var(--player-height);
    height: 100vh;
    overflow-y: scroll;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 911px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - var(--sidebar-width));
    }
    #sidebarCollapse .menuOpen {
        display: none;
    }

    #sidebarCollapse .menuClosed {
        display: block;
    }

    .has-search.navbar-search {
        display: none;
    }

    .has-search.sidebar-search {
        display: block;
        width: 100%;
        margin-top: 2vh;
    }
}

@media (max-width: 580px) {
    #content.active div.nav-button  {
        display: none;
    }
}

@media (min-width: 1200px) {
    #sidebarCollapse  {
        display: none;
    }
}
