table {
    color: var(--font-color);

    th {
        display: flex;
        align-items: center;

        .play-wrapper {
            width: 3.5rem;
            height: 3.5rem;
            margin: 0 1rem;

            button.btn.rounded-circle {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 1rem;
                margin: auto;
                background-image: var(--accent-gradient);

                fa-icon {
                    color: var(--background-color);
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .track-artist {
            font-size: 0.75rem
        }
    }

    td div {
        height: 3.5rem;
        display: flex;
        align-items: center;

        &.time {
            justify-content: flex-end;
        }
    }

    tr {
        border-radius: 5px;

        &.active {
            color: var(--accent-color);
        }

        &:hover {
            background-color: var(--primary-color);
        }
    }
}



button {
    display: none;
}

img {
    display: block;
}


tr:hover button {
    display: block;
}

tr:hover img {
    display: none;
}

