<h1 style="font-family: 'Bahnschrift SemiBold'">Artists {{this.genreTitle}} </h1>
<br><br><br>
<div class="row">
    <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngFor="let artistchart of artists?.data let i=index">
        <div *ngIf="i<8">
            <div class="album-cover2">
                <a [routerLink]="['/album-details', artistchart.id]" [state]=artistchart>
                    <img src="{{artistchart.picture_big}}" style="border-radius: 50%" class="w-100 image" (click)="click(artistchart)">
                </a>
                <h2>{{artistchart.name}}</h2>
            </div>
        </div>
    </div>
</div>
