<div *ngIf="radios.length != 0 " class="mb-5">
    <h1>Radio{{ this.radios.length > 1 ? 's' : '' }} {{this.genreTitle}} </h1>
    <div class="album-container">
        <div  *ngFor="let radio of radios" >
            <mat-card class="album-card" [routerLink]="['/radio-details', radio.id]" [state]=radio (click)="click(radio)">
                <div class="album-cover">
                    <div class="image">
                        <a>
                            <img src="{{radio.picture}}" class="rounded"></a>
                    </div>
                </div>
                <div>
                    <mat-card-title>
                        <h2 style="font-family: 'Bahnschrift SemiBold'">{{radio.title}}</h2>
                    </mat-card-title>
                </div>
                <fa-icon [icon]="faPlayCircle"  size="3x" class="form-control-feedback" style="color:white" (click)="playRadio(radio); $event.stopPropagation()"></fa-icon>
            </mat-card>
        </div>
    </div>
</div>
<div *ngIf="artists?.length != 0 ">
    <h1>Artistes {{this.genreTitle}} </h1>
    <div class="row mt-5">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6" *ngFor="let artistchart of artists let i=index">
            <div *ngIf="i<8">
                <div class="album-cover2">
                    <a [routerLink]="['/album-details', artistchart.id]" [state]=artistchart>
                        <img src="{{artistchart.picture_big}}" style="border-radius: 50%" class="w-100 image" (click)="click(artistchart)">
                    </a>
                    <h2>{{artistchart.name}}</h2>
                </div>
            </div>
        </div>
    </div>

</div>
