h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Bahnschrift SemiBold";
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    font-family: "Bahnschrift SemiBold";
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position:relative;

    .album-card {
        width: 200px;
        height: 200px;
        margin-right: 1%;
        margin-bottom: 10%;
        position:relative;
        cursor: pointer;

        .album-cover {
            img {
                width: 170px;
                height: 170px;
                margin-right: 1%;
                margin-bottom: 10%;
            }
        }
        h2 {
            margin: 0px;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 1.8rem;
        }

    }
}
.form-control-feedback {
    top: 67%;
    left: 10%;
    position:absolute;
}
