fa-icon {
    color: var(--font-color);
}

.album-header {
    img {
        height: 300px;
        width: 300px;
        margin: 0 30px;
        border-radius: 5px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .3), 0 1px 2px 0 rgba(0, 0, 0, .2);
    }

    span.titre {
        font-size: 4rem;
        font-weight: bold;
    }

    span.artist {
        font-size: 1.5rem;
        color: var(--font-color);
        text-decoration: underline var(--font-color);
    }

    .details {
        margin-top: 4rem;
        color: grey;
    }

    .btn.btn-lg.active {
        width: 200px;
        border-radius: 12px;
        background-image: var(--accent-gradient);
        font-weight: bold;
        color: var(--background-color);

        &:focus {
            box-shadow: 0 0 0 1px var(--accent-color), 0 0 0 0.2rem rgba(var(--accent-color), 1);
        }

        fa-icon {
            color: var(--background-color);
        }
    }

    .album-fav {
        margin-left: 1.5rem;
        font-size: 2rem;
    }
}

.title-container img.cover {
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
    width: 40px;
}

.tracks {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    background-color: transparent;
    border: none;

    fa-icon.favorite ::ng-deep .fa-heart {
        color: var(--accent-color);
    }
}

fa-icon.play {
    display: none;
}

table {
    margin-top: 3rem;
    color: var(--font-color);

    tr {
        line-height: 40px;

        &.active {
            color: var(--accent-color);
        }
    }
    tr:not(:hover) .dropdown-menu {
        display: none;
    }

    td div.title-container {
        display: flex;

        div.title {
            margin-right: 1rem;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            word-break: break-all;
            overflow: hidden;
        }

        div.feat-container {
            color: var(--secondary-color);
            font-size: 0.75rem;

            a {
                color: var(--secondary-color);
                text-decoration: none;

                &:hover {
                    color: var(--font-color);
                    text-decoration: underline;
                }
            }
        }

        div.track-menu-container {
            margin-left: 1rem;
        }
    }

    tbody {
        td, th {
            text-align: center;
            vertical-align: middle;
            &.end {
                text-align: end;
            }

        }
    }
    thead {
        th.min-width {
            width: 1%;
        }

        th.fixed-width {
            width: 60px;
        }

        th.end {
            //width: 90px;
            text-align: end;
            vertical-align: middle;
            width: 4rem;

            //.w-1rem {
            //    width: 2rem;
            //}
        }
    }

    tbody tr:hover {
        background-color: var(--primary-color);

        fa-icon.play {
            display: block;
        }

        div.nb-track {
            display: none;
        }
    }

    .dropdown-menu {
        background-color: var(--primary-color);
        color: var(--font-color);
    }

    .dropdown-menu a:focus {
        background-color: var(--secondary-color);
        color: var(--font-color);
    }

    .dropdown-item {
        color: var(--font-color);
    }

    .dropdown-item:hover {
        //background-color: var(--secondary-color);
        color: var(--font-color);

        a {
            background-color: transparent;
        }
    }

    .dropdown-menu-dark.dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
        background-color: var(--secondary-color);
    }
}

input[type='checkbox'] {
    &:checked {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
    }

    &:checked:focus {
        box-shadow: 0 0 0 1px transparent, 0 0 0 0.2rem rgba(red, 0)
    }

    &:focus {
        border-color: var(--accent-color);
        box-shadow: 0 0 0 1px transparent, 0 0 0 0.2rem rgba(red, 0)
    }

    &:active {
        background-color: var(--accent-color);
    }
}
