<h2>Albums les plus écoutés</h2><hr/>
<br><br>
<div class="album-container">
    <div *ngFor="let albumchart of charts">
        <mat-card class="album-card">
            <div class="album-cover">
                <div class="image">
                    <img src="{{albumchart.cover_big}}">
                </div>
            </div>
            <div>
                <mat-card-title>
                    <h2>{{albumchart.title}}</h2>
                </mat-card-title>

                <mat-card-subtitle>
                    <h3>{{albumchart.artist.name}}</h3>
                </mat-card-subtitle>
            </div>
        </mat-card>
    </div>
</div>
<app-genres></app-genres>
