<nav [ngClass]="{'active' : this.show}" id="sidebar">
    <div class="sidebar-header">
        <img (click)="backtoHome()" [src]="getSiteLogo()" alt="site logo" class="img-fluid" style="cursor: pointer">
    </div>

    <app-search navbarLocation="sidebar"></app-search>

    <ul class="list-unstyled components">
        <li [routerLinkActive]="['active']" [routerLink]="['/home']">
            <a href="#">
                <fa-icon [fixedWidth]="true" [icon]="faHome"></fa-icon>
                Accueil</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/musique']">
            <a>
                <fa-icon [fixedWidth]="true" [icon]="faMusic"></fa-icon>
                Musiques</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/radios']">
            <a>
                <fa-icon [fixedWidth]="true" [icon]="faPodcast"></fa-icon>
                Radios</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLink]="['/decouvrir']">
            <a>
                <fa-icon [fixedWidth]="true" [icon]="faGripHorizontal"></fa-icon>
                Découvrir</a>
        </li>
        <li *ngIf="isConnected()">
            <a aria-expanded="false" class="dropdown-toggle collapsed" data-bs-toggle="collapse"
               href="#favSubmenu">
                <fa-icon [fixedWidth]="true" [icon]="faStar"></fa-icon>
                Favoris</a>
            <ul class="collapse list-unstyled" id="favSubmenu">
                <li [routerLinkActive]="['active']" [routerLink]="['/favorite-tracks']">
                    <a>Titres</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLink]="['/playlists']">
                    <a>Playlists</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLink]="['/favorite-albums']">
                    <a>Albums</a>
                </li>
                <li [routerLinkActive]="['active']" [routerLink]="['/favorite-artists']">
                    <a>Artistes</a>
                </li>
                <!--                <li>-->
                <!--                    <a href="#">Podcats</a>-->
                <!--                </li>-->
            </ul>
        </li>
    </ul>

</nav>
