<nav id="sidebar" [ngClass]="{'active' : this.show}">
    <div class="sidebar-header">
        <img [src]="getSiteLogo()" style="cursor: pointer" (click)="backtoHome()" class="img-fluid" alt="site logo">
    </div>

    <app-search navbarLocation="sidebar"></app-search>

    <ul class="list-unstyled components">
        <li [routerLink]="['/home']" [routerLinkActive]="['active']">
            <a href="#">
                <fa-icon [icon]="faHome" [fixedWidth]="true"></fa-icon>
                Accueil</a>
        </li>
        <li [routerLink]="['/musique']" [routerLinkActive]="['active']">
            <a>
                <fa-icon [icon]="faMusic" [fixedWidth]="true"></fa-icon>
                Musiques</a>
        </li>
        <li [routerLink]="['/radios']" [routerLinkActive]="['active']">
            <a>
                <fa-icon [icon]="faPodcast" [fixedWidth]="true"></fa-icon>
                Radios</a>
        </li>
        <li [routerLink]="['/decouvrir']" [routerLinkActive]="['active']">
            <a>
                <fa-icon [icon]="faGripHorizontal" [fixedWidth]="true"></fa-icon>
                Découvrir</a>
        </li>
        <li *ngIf="isConnected()">
            <a href="#favSubmenu" data-bs-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle collapsed">
                <fa-icon [icon]="faStar" [fixedWidth]="true"></fa-icon>
                Favoris</a>
            <ul class="collapse list-unstyled" id="favSubmenu">
                <li [routerLink]="['/favorite-tracks']" [routerLinkActive]="['active']">
                    <a>Titres</a>
                </li>
                <li [routerLink]="['/playlists']" [routerLinkActive]="['active']">
                    <a>Playlists</a>
                </li>
                <li [routerLink]="['/favorite-albums']" [routerLinkActive]="['active']">
                    <a>Albums</a>
                </li>
                <li [routerLink]="['/favorite-artists']" [routerLinkActive]="['active']">
                    <a>Artistes</a>
                </li>
<!--                <li>-->
<!--                    <a href="#">Podcats</a>-->
<!--                </li>-->
            </ul>
        </li>
    </ul>

</nav>
