<h1 style="font-family: 'Bahnschrift SemiBold'">Radios</h1>
<br><br>

<div class="album-container">
    <div  *ngFor="let radio of radios?.data " >
        <mat-card class="album-card">
            <div class="album-cover">
                <div class="image">
                    <img src="{{radio.picture}}">
                </div>
            </div>
            <div>
                <mat-card-title>
                    <h2 style="font-family: 'Bahnschrift SemiBold'">{{radio.title}}</h2>
                </mat-card-title>
            </div>
            <fa-icon [icon]="faPlayCircle"  size="3x" class="form-control-feedback" style="color:white"></fa-icon>
        </mat-card>
    </div>
</div>

