<h2>Radios</h2><hr/>
<br><br>
<div class="album-container">
    <div  *ngFor="let radio of radios?.data " >
        <mat-card class="album-card">
            <div class="album-cover">
                <div class="image">
                    <img src="{{radio.picture}}">
                </div>
            </div>
            <div>
                <mat-card-title>
                    <h2>{{radio.title}}</h2>
                </mat-card-title>


            </div>
        </mat-card>
    </div>
</div>

