<h1>Radios</h1>
<br><br>

<div class="album-container">
    <div  *ngFor="let radio of radios?.data " >
        <mat-card class="album-card" [routerLink]="['/radio-details', radio.id]" [state]=radio (click)="click(radio)">
            <div class="album-cover">
                <div class="image">
                    <a>
                        <img src="{{radio.picture}}"></a>
                </div>
            </div>
            <div>
                <mat-card-title>
                    <h2 style="font-family: 'Bahnschrift SemiBold'">{{radio.title}}</h2>
                </mat-card-title>
            </div>
            <fa-icon [icon]="faPlayCircle"  size="3x" class="form-control-feedback" style="color:white" (click)="playRadio(radio); $event.stopPropagation()"></fa-icon>
        </mat-card>
    </div>
</div>

